body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: black;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.header-img {
    object-fit: fill;
    height: 120px;
}

#pokemon-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 32px;
    gap: 32px;
    background-image: url(./img/pokeball.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 33%;
    align-items: flex-start;
}

.small-card {
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    padding-top: 16px;
}

.small-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.small-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 16px;
}

.types {
    display: flex;
    width: 80%;
    gap: 16px;
}

.type {
    border: 1px solid white;
    padding: 4px;
    background-color: lightgray;
    border-radius: 8px;
}

.small-img {
    height: 132px;
    width: auto;
    z-index: 2;
}

.small-card-bottom{
    height: 80px;
    width: 100%;
    background-color: white;
    margin-top: -32px;
    border-radius: 20px 20px 10px 10px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#popup {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none !important;
}

#card {
    width: 420px;
    min-height: 640px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    box-sizing: border-box;
    color: white;
    border-radius: 32px;
    position: relative;
}

.pokemon-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 28px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}

#pokemon-img {
    height: 240px;
    z-index: 1;
}

.info {
    width: 100%;
    height: 380px;
    margin-top: -32px;
    border-radius: 32px;
    position: relative;
}

.about-stats-moves {
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
    padding: 64px 32px 16px 32px;
    box-sizing: border-box;
}

.about {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;   
    box-sizing: border-box;
}

.abilities {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
}

.skill {
    display: flex;
    justify-content: space-between;
}

.types-detailed-card {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 32px;
    padding-top: 32px;
    position: absolute;
    bottom: 32px;
    left: 32px;
}

.type-detailed-card {
    border: 2px solid white;
    padding: 6px;
    background-color: lightgray;
    border-radius: 8px;
}

.move {
    border: 2px solid white;
    padding: 8px;
    border-radius: 16px;
    opacity: 0.8;
}

.moves {
    width: 100%;
    padding: 32px;
    gap: 8px;   
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 272px;
}

.stats {
    width: 100%;
    padding: 32px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.stats-name {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stats-value {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: end;
}

.stats-diagram {
    width: 120px;
    height: 240px;
}

.stats-chart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.stats-chart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bar {
    height: 16px;
    background-color: white;
    animation: progressBarAnimation 1s ease-in-out forwards;
}

@keyframes progressBarAnimation {
    from {
        width: 0;
    }
}

.close-button {
    position: absolute;
    top: -32px;
    right: -32px;
    font-size: 28px;
}

.close-button:hover {
    cursor: pointer;
}

.increase-font-size {
    font-size: 24px;
}

.category:hover {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

.image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}
  
.next-previous {
    font-size: 32px;
}

.next-previous:hover {
    cursor: pointer;
}

.load-img {
    height: 48px;
    width: auto;
    transition: transform 0.5s ease;
}
  
.load-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
    padding: 8px;
    width: 240px;
    height: 48px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 16px;
}

.load-container:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#load-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


  
  